<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">HOUSE PRICE PREDICTION</div>
    <div class="content">
      <form action="{{ url_for('predict')}}" method="POST">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Enter AREA</span>
            <input type="text" name="area" placeholder="Enter the Area in sq.feets" required>
          </div>
          <div class="input-box">
            <span class="details">Enter No Of Bedrooms</span>
            <input type="text" name="bed" placeholder="Enter in b/w 0 to 5" required>
          </div>
          <div class="input-box">
            <span class="details">Enter No Of Bathrooms</span>
            <input type="text" name="bath" placeholder="Enter in b/w 0 to 4" required>
          </div>
          <div class="input-box">
            <span class="details">Enter No of Upstairs</span>
            <input type="text" name="upst" placeholder="Enter in b/w 1 and 3" required>
          </div>
          <div class="input-box">
            <span class="details">Do you want MainRoad</span>
            <input type="text" name="mard" placeholder="Enter either 1 or 0" required>
          </div>
          <div class="input-box">
            <span class="details">Do You Want Guestroom</span>
            <input type="text" name="gues" placeholder="Enter either 1 or 0" required>
          </div>
          <div class="input-box">
            <span class="details">Do You Want Basement</span>
            <input type="text" name="base" placeholder="Enter either 1 or 0" required>
          </div>
          <div class="input-box">
            <span class="details">Do You Want HotWatersystem</span>
            <input type="text" name="hot" placeholder="Enter either 1 or 0" required>
          </div>
          <div class="input-box">
            <span class="details">Do You Want Airconditioning</span>
            <input type="text" name="air" placeholder="Enter either 1 or 0" required>
          </div>
          <div class="input-box">
            <span class="details">Do You Want parking</span>
            <input type="text" name="par" placeholder="Enter in b/w 1 to 4" required>
          </div>
          <div class="input-box">
            <span class="details">Do You Want preface</span>
            <input type="text" name="pref" placeholder="Enter either 1 or 0" required>
          </div>
          <div class="input-box">
            <span class="details">Do You Want Furnishing</span>
            <input type="text" name="furn" placeholder="Enter in b/w 0 to 2" required>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Predict"><br><br>
          <center>{{ house_price }}</center>
        </div>
      </form>
    </div>
  </div>

</body>
</html>

