<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">HOUSE PRICE PREDICTION</div>
    <div class="content">
      <form action="{{ url_for('predict')}}" method="POST">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Enter AREA</span>
            <input type="text" name="area" placeholder="Enter the Area in sq.feets" required>
          </div>
          <div class="input-box">
            <span class="details">Enter No Of Bedrooms</span>
            <input type="text" name="bed" placeholder="Enter in b/w 0 to 5" required>
          </div>
          <div class="input-box">
            <span class="details">Enter No Of Dressingroom</span>
            <input type="text" name="bath" placeholder="Enter in b/w 0 to 4" required>
          </div>
          <div class="input-box">
            <span class="details">Enter No of Upstairs</span>
            <input type="text" name="upst" placeholder="Enter in b/w 1 and 3" required>
          </div>
          <div class="input-box">
            <span class="details">Do you want Near to MainRoad</span>
            <input list="brow" name="hello" placeholder="yes or No" required>
            <datalist id="brow">
              <option value="Yes">
              <option value="No">
            </datalist>
          </div>
          <div class="input-box">
            <span class="details">Do You Want Guestroom</span>
            <input list="brows" type="text" name="gues" placeholder="Enter either 1 or 0" required>
            <datalist id="brows">
              <option value="Yes">
              <option value="No">
            </datalist>
          </div>
          <div class="input-box">
            <span class="details">Do You Want Basement</span>
            <input list="browse" type="text" name="base" placeholder="Enter either 1 or 0" required>
            <datalist id="browse">
              <option value="Yes">
              <option value="No">
            </datalist>
          </div>
          <div class="input-box">
            <span class="details">Do You Want HotWatersystem</span>
            <input list="uk" type="text" name="hot" placeholder="Enter either 1 or 0" required>
            <datalist id="uk">
              <option value="Yes">
              <option value="No">
            </datalist>
          </div>
          <div class="input-box">
            <span class="details">Do You Want Airconditioning</span>
            <input list="br1" type="text" name="air" placeholder="Enter either 1 or 0" required>
            <datalist id="br1">
              <option value="Yes">
              <option value="No">
            </datalist>
          </div>
          <div class="input-box">
            <span class="details">No Of parking Blocks</span>
            <input type="text" name="par" placeholder="Enter in b/w 1 to 4" required>
          </div>
          <div class="input-box">
            <span class="details">Do You Want preface</span>
            <input list="br2" type="text" name="pref" placeholder="Enter either 1 or 0" required>
            <datalist id="br2">
              <option value="Yes">
              <option value="No">
            </datalist>
          </div>
          <div class="input-box">
            <span class="details">Type of Furnishing</span>
            <input list="br3" type="text" name="f" placeholder="Enter in b/w 0 to 2" required>
            <datalist id="br3">
              <option value="Furnished">
              <option value="Semi-Furnished">
              <option value="No Furnished">
            </datalist>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Predict"><br><br>
          <center>{{ house_price }}</center>
        </div>
      </form>
    </div>
  </div>
  

</body>
</html>

