<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOUSE-PRICE-PREDICTION</title>
</head>
<body>
    <center><h1>HOUSE-PRICE-PREDICTION</h1>
    <p>
        Predicting The HOUSE Price
    </p></center>
    <center>
    <form action="{{ url_for('predict')}}" method="POST">
        Enter the Area <input type="number" name="ar" placeholder="enter area" required="required" /><br>
        Enter no of Bedrooms <input type="number" name="bd" placeholder="enter bedrooms" required="required" /><br>
        Enter no of Bathrooms <input type="number" name="bar" placeholder="enter bathrooms"><br>
        Enter no of upstairs <input type="number" name="sto" placeholder="Enter in b/w 1-3"><br>
        Do you want Mainroad <input type="number" name="mard" placeholder="enter mainroad (Enter if yes -->'1' no --->'0'" ><br>
        Do you want GuestRoom <input type="number" name="gst" placeholder="Enter 1 or 0"><br>
        Do you want Basement <input type="number" name="bst" placeholder="Enter 1 or 0"><br>
        Do you want HotWater <input type="number" name="ht" placeholder="Enter 1 or 0"><br>
        Enter Air conditioning <input type="number" name="air" placeholder="Enter 1 or 0"><br>
        Enter no of parkings <input type="number" name="prk" placeholder="Enter 1 or 0 "><br>
        Do you need a Preface <input type="number" name="pref" placeholder="1 (or) 0"><br>
        Do you want furnishing <input type="number" name="furn" placeholder="Enter 0 or 1 0r 2"><br><br>
        <input type="submit">
    </form></center>
    <center>{{ house_price }}</center>
    
</body>
</html>
